@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
$bg_color: rgba(255,255,255,0.50);
$font_montserrat:'Montserrat', sans-serif;
$font_blue:#572EE5;
$color_aqua:#50E3C2;
$bg_trending:#F3F5F8;