@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://allfont.es/allfont.css?fonts=roboto-regular");
@import url("https://allfont.es/allfont.css?fonts=roboto-black");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.dark {
  background-color: #37383C;
}

main {
  margin-top: 90px;
}

body.dark nav {
  background: unset;
  background-color: #37383C;
  border-top: 2px solid #9CAFC3;
}

body.dark nav .menu .item a {
  color: #FFF;
}

body.dark nav .item {
  background-color: black;
}

body header nav {
  border-top: 2px solid #572EE5;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 2;
  /* Mobile menu*/
}

body header nav ul {
  list-style-type: none;
}

body header nav .item a {
  color: #FFF;
  text-decoration: none;
}

body header nav .item a:hover {
  color: #50E3C2;
}

body header nav .logo a:hover {
  text-decoration: none;
}

body header nav .menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

body header nav .logo a, body header nav .toggle a {
  font-size: 20px;
  margin: 5px 20px;
}

body header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body header nav .item {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  background-color: rgba(87, 46, 229, 0.9);
}

body header nav .item a {
  font-size: 18px;
  line-height: 60px;
  font-weight: 600;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

body header nav .item.active {
  display: block;
}

body header nav #gifos.active {
  padding-bottom: 50vh;
}

body header nav .item.button {
  display: none;
}

/* Tablet menu 
@media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
  
    .button a:hover {
        text-decoration: none;
    }
}*/
/* Desktop menu */
@media all and (min-width: 600px) {
  body header nav .menu .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: auto;
    background-color: unset;
  }
  body header nav .menu .item.active {
    color: #9CAFC3;
  }
  body header nav .menu .item a {
    font-size: 13px;
    line-height: 16px;
    color: #572EE5;
    display: unset;
    background-color: unset;
    text-transform: uppercase;
    font-weight: 700;
    border: unset;
  }
  body header nav .menu .item a:hover {
    color: #50E3C2;
  }
  body header nav .menu .item a.active {
    color: #9CAFC3;
  }
  body header nav .menu .toggle {
    display: none;
  }
  body header nav .menu .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 40px;
    margin-top: 10px;
  }
  body header nav .menu .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body header nav .menu .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body header nav .menu li {
    padding: 15px 10px;
  }
  body header nav .menu li.dark {
    color: #FFF;
  }
  body header nav .menu li.button {
    padding-right: 0;
  }
  body header nav .menu .item.button {
    display: unset;
    margin-right: 70px;
  }
  body header nav .menu .item.button img {
    width: 54px;
    height: 54px;
  }
}

main .search {
  margin: 120px, 30px, 20px, 30px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

body.dark main .search h1.title1, body.dark main .search h3.sub_trending, body.dark main .search h4.sub_trending {
  color: #FFF;
}

body.dark main .search .container-1 input#search-input {
  background-color: #37383C;
  color: #9CAFC3;
  border: 1px solid #FFF;
}

main .search img.img_search {
  width: 73%;
  margin: auto;
}

main .search .search_box {
  margin: auto;
}

main .search .container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

main .search .container-1 input#search-input {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #572EE5;
  font-size: 10pt;
  float: right;
  color: #63717f;
  padding-left: 45px;
  border-radius: 25px;
}

main .search .container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 260px;
  margin-top: 14px;
  z-index: 1;
}

main .search .container-1 .icon img {
  cursor: pointer;
}

main .search .container-1 .reset {
  position: absolute;
  top: 50%;
  margin-left: 260px;
  margin-top: 15px;
  z-index: 1;
}

main .search .container-1 .reset img {
  cursor: pointer;
}

main .search h1.title1, main .search h3.sub_trending, main .search h4.sub_trending {
  color: #572EE5;
  text-align: center;
}

main .search h1.title1 {
  font-size: 25px;
  line-height: 33px;
  margin: 0 20px;
  margin-bottom: 40px;
}

main .search #aqua {
  color: #50E3C2;
}

main .search h3.sub_trending {
  margin-top: 40px;
  font-size: 20px;
  line-height: 30px;
}

main .search h4.sub_trending {
  font-size: 14px;
  line-height: 25px;
  margin: 5px 20%;
  margin-bottom: 30px;
}

main .search h3.search-text {
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 40px;
  margin: 20px auto;
  text-transform: lowercase;
  border-top: 1px solid #572EE5;
  padding-top: 20px;
}

main .search h3.search-text::first-letter {
  text-transform: uppercase;
}

main .search .results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search .results .gif-actions {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

main .search .results .gif-actions img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

main .search .results .gif-actions .info-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #572EE5 70%;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  visibility: hidden;
  text-align: left;
}

main .search .results .gif-actions .info-gifs:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .search .results .gif-actions .info-gifs .icons-actions-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  opacity: 1;
}

main .search .results .gif-actions .info-gifs .icons-actions-gif button {
  border: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 6px;
}

main .search .results .gif-actions .info-gifs .Description-gif {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFF;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main .search .results .gif-actions:hover > .info-gifs {
  opacity: 0.7;
  visibility: visible;
}

@media all and (min-width: 600px) {
  main .search h1.title1 {
    font-size: 35px;
    line-height: 50px;
    margin: 50px 150px;
  }
  main .search img.img_search {
    width: 50%;
    margin: auto;
  }
  main .search .container-1 {
    width: 500px;
  }
  main .search .container-1 .icon {
    margin-left: 450px;
  }
  main .search .container-1 .reset {
    margin-left: 455px;
  }
  main .search .results {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    gap: 20px;
  }
}

main .favoritos .fav {
  text-align: center;
  color: #572EE5;
  margin-top: 10px;
}

main .favoritos .fav h2 {
  font-size: 25px;
  line-height: 30px;
}

main .favoritos .contenidoFav {
  text-align: center;
  color: #50E3C2;
  padding: 20px 30px;
}

main .favoritos .contenidoFav img {
  width: 150px;
  height: 150px;
}

main .favoritos .contenidoFav h4 {
  font-size: 22px;
  line-height: 33px;
}

body.dark main .favoritos .fav, body.dark main .favoritos .fav h2, body.dark main .favoritos .contenidoFav h4 {
  color: #FFF;
}

main .misGifos .mios {
  text-align: center;
  color: #572EE5;
  margin-top: 10px;
}

main .misGifos .mios h2 {
  font-size: 25px;
  line-height: 30px;
}

main .misGifos .contenidoMis {
  text-align: center;
  color: #50E3C2;
  padding: 20px 30px;
}

main .misGifos .contenidoMis img {
  width: 150px;
  height: 150px;
}

main .misGifos .contenidoMis h4 {
  font-size: 22px;
  line-height: 33px;
}

body.dark main .misGifos .mios {
  color: #FFF;
}

body.dark main .misGifos .contenidoMis {
  color: #FFF;
}

main .newGifo {
  display: none;
}

@media all and (min-width: 600px) {
  main .newGifo {
    height: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2.5fr 1fr;
        grid-template-columns: 1fr 2.5fr 1fr;
  }
  main .newGifo .icon_camera #img_camara {
    width: 123px;
    height: 100px;
  }
  main .newGifo .icon_camera #luz_camara {
    height: 145px;
    position: relative;
  }
  main .newGifo .icon_camera #cinta2 {
    width: 63px;
    height: 63px;
    position: relative;
  }
  main .newGifo .icon_camera #cinta1 {
    width: 45px;
    height: 45px;
    position: relative;
  }
  main .newGifo .container_newGifo .box_newGifo {
    border: 1px solid #572EE5;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 70%;
  }
  main .newGifo .container_newGifo .pasos_newGifo {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .newGifo .container_newGifo .pasos_newGifo img {
    margin: 5px 15px;
  }
  main .newGifo .container_newGifo .linea {
    width: 100%;
    height: 5px;
    background-color: #572EE5;
    border-radius: 11%;
  }
  main .newGifo .container_newGifo .button_start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  main .newGifo .container_newGifo .button_start .startnew {
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #572EE5;
    color: #572EE5;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #FFF;
    cursor: pointer;
  }
  main .newGifo .icon_pelicula {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main .newGifo .icon_pelicula img {
    margin-bottom: 60px;
  }
}

main .trending_gifos {
  background: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

body.dark main .trending_gifos {
  background-color: #222326;
}

body.dark main .trending_gifos h2.title2, body.dark main .trending_gifos p {
  color: #FFF;
}

main .trending_gifos h2.title2 {
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 20px 0;
  width: 100vw;
}

main .trending_gifos p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-family: "Roboto Regular", arial;
  width: 100vw;
}

main .trending_gifos button {
  display: none;
}

main .trending_gifos .trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 187px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  margin-bottom: 70px;
  margin-top: 20px;
  padding-left: 20px;
}

main .trending_gifos .trending::-webkit-scrollbar {
  display: none;
}

main .trending_gifos .trending .gif-actions {
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: center;
  width: 246px;
  height: 187px;
  margin: 0 10px 0 10px;
}

main .trending_gifos .trending .gif-actions img {
  width: 246px;
  height: 187px;
}

main .trending_gifos .trending .gif-actions .info-gifs {
  display: none;
}

@media all and (min-width: 600px) {
  main .trending_gifos {
    padding: 30px 30px;
  }
  main .trending_gifos h2.title2 {
    font-size: 25px;
    line-height: 30px;
  }
  main .trending_gifos p {
    font-size: 18px;
    line-height: 21px;
  }
  main .trending_gifos .trending_container {
    margin: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .trending_gifos .trending_container button {
    display: unset;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }
  main .trending_gifos .trending_container .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
    overflow: hidden;
  }
  main .trending_gifos .trending_container .trending .gif-actions {
    width: 25vw;
    height: 100%;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }
  main .trending_gifos .trending_container .trending .gif-actions img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs {
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #572EE5 70%;
    opacity: 0;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    visibility: hidden;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .icons-actions-gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    opacity: 1;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .icons-actions-gif button {
    border: none;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
  }
  main .trending_gifos .trending_container .trending .gif-actions .info-gifs .Description-gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-line-pack: start;
        align-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #FFF;
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  main .trending_gifos .trending_container .trending .gif-actions:hover > .info-gifs {
    opacity: 0.7;
    visibility: visible;
  }
}

.expand-mobile-activated {
  display: unset;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 40px 30px;
}

.expand-mobile-activated div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.expand-mobile-activated div .mobile-close {
  border: none;
  width: 30px;
  background: unset;
  cursor: pointer;
}

.expand-mobile-activated .mobile-gif {
  margin-top: 30px;
}

.expand-mobile-activated .card {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expand-mobile-activated .card .mobile-btn {
  border: none;
  background: none;
  cursor: pointer;
}

footer {
  padding-top: 50px;
}

footer p {
  text-align: center;
  font-family: "Roboto Regular", arial;
  padding: 20px;
}

footer div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

footer div.social a {
  padding: 15px;
}

@media all and (min-width: 600px) {
  footer {
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: unset;
  }
  body.dark footer p {
    color: #FFF;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer div div.social {
    padding: 0;
  }
  footer div div.social a {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=styles.css.map */