@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://allfont.es/allfont.css?fonts=roboto-regular");
@import url("https://allfont.es/allfont.css?fonts=roboto-black");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  margin-top: 90px;
}

body header nav {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 2;
  /* Mobile menu*/
}

body header nav ul {
  list-style-type: none;
}

body header nav a {
  color: #FFF;
  text-decoration: none;
}

body header nav a:hover {
  text-decoration: underline;
}

body header nav .logo a:hover {
  text-decoration: none;
}

body header nav .menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

body header nav .logo a, body header nav .toggle a {
  font-size: 20px;
  margin: 5px 20px;
}

body header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav .toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body header nav .item {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  background-color: rgba(87, 46, 229, 0.9);
}

body header nav .item a {
  font-size: 18px;
  line-height: 60px;
  font-weight: 600;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

body header nav .item.active {
  display: block;
}

body header nav .item.button {
  display: none;
}

/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .toggle {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
  }
  .item.button {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
  .toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
  }
  .button a:hover {
    text-decoration: none;
  }
}

/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

/* img.img_burger, img.img_close{
        width: 15px;
        height: 14px;
    }
    img.img_burger{
        margin: 30px;
        font-size: 30px;
    }

    img.img_close{
        display: none;
        margin: 30px;
    }

    img.img_nuevogifo{
        display: none;
    }
    .menu_items{
        display: none;
        float: right;
        margin-right: 20px;

        li{
            
            display: inline-block;
            line-height: 60px;
            margin: 0 5px;

            a{
                font-weight: bold;
                text-transform: uppercase;
            }

            a.active, a:hover{
                background: $bg_white;
                transition: .5s;
            }
        }
    }
    .checkbtn{
        cursor: pointer;
        float: right;
    }
    #check{
        display: none;
    }
   
}*/
main .search {
  margin: 120px, 30px, 20px, 30px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .search img.img_search {
  width: 75%;
  margin: auto;
}

main .search .search_box {
  margin: auto;
}

main .search .container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

main .search .container-1 input#search-input {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #572EE5;
  font-size: 10pt;
  float: right;
  color: #63717f;
  padding-left: 45px;
  border-radius: 25px;
}

main .search .container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 260px;
  margin-top: 14px;
  z-index: 1;
}

main .search h1.title1, main .search h3.sub_trending, main .search h4.sub_trending {
  color: #572EE5;
  text-align: center;
}

main .search h1.title1 {
  font-size: 25px;
  line-height: 33px;
  margin: 0 20px;
  margin-bottom: 40px;
}

main .search #aqua {
  color: #50E3C2;
}

main .search h3.sub_trending {
  margin-top: 40px;
  font-size: 20px;
  line-height: 30px;
}

main .search h4.sub_trending {
  font-size: 14px;
  line-height: 25px;
  margin: 5px 20%;
  margin-bottom: 30px;
}

main .favoritos .fav {
  text-align: center;
  color: #572EE5;
  margin-top: 10px;
}

main .favoritos .fav h2 {
  font-size: 25px;
  line-height: 30px;
}

main .favoritos .contenidoFav {
  text-align: center;
  color: #50E3C2;
  padding: 20px 30px;
}

main .favoritos .contenidoFav img {
  width: 150px;
  height: 150px;
}

main .favoritos .contenidoFav h4 {
  font-size: 22px;
  line-height: 33px;
}

main .misGifos .mios {
  text-align: center;
  color: #572EE5;
  margin-top: 10px;
}

main .misGifos .mios h2 {
  font-size: 25px;
  line-height: 30px;
}

main .misGifos .contenidoMis {
  text-align: center;
  color: #50E3C2;
  padding: 20px 30px;
}

main .misGifos .contenidoMis img {
  width: 150px;
  height: 150px;
}

main .misGifos .contenidoMis h4 {
  font-size: 22px;
  line-height: 33px;
}

main .trending_gifos {
  padding: 30px 30px;
  background: #F3F5F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .trending_gifos h2.title2 {
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 20px 0;
}

main .trending_gifos p {
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  font-family: "Roboto Regular", arial;
}

main .trending_gifos img.gif {
  margin: 30px;
  height: 250px;
  width: 80%;
}

footer {
  padding-top: 50px;
}

footer p {
  text-align: center;
  font-family: "Roboto Regular", arial;
  padding: 20px;
}

footer div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

footer div.social a {
  padding: 15px;
}
/*# sourceMappingURL=styles.css.map */